{{ template "header.html" . }}

<div class="container mt-5">
    
    <h1>{{ .PageTitle }}</h1>

    {{ if .Data.Posts }}
    {{ range .Data.Posts }}
    <div id="{{ .PostID }}" class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h1>{{ .Title }}</h1>
                    <h6>By: {{ .Username }}</h6>
                    <h5>{{ .Content }}</h5>

                    {{ if .ImageExist }}
                        <img src="/images/{{ .PostID }}" alt="">
                    {{ end }}

                    <form action="/likepost" method="POST">
                        <input type="text" name="postid" value="{{ .PostID }}" hidden required>
                        <input type="text" name="link" value="{{ $.Data.Link }}#{{ .PostID }}" hidden required>
                        <button type="submit" name="submit" value="like" class="btn btn-{{ if not .Liked }}outline-{{ end }}dark like"><i class="far fa-thumbs-up"></i> {{ .Like }}</button>
                        <button type="submit" name="submit" value="dislike" class="btn btn-{{ if not .Disliked }}outline-{{ end }}dark like"><i class="far fa-thumbs-down"></i> {{ .Dislike }}</button>
                        <a href="/posts/id/{{ .PostID }}"><button type="button" class="btn btn-outline-dark comment"><i class="far fa-comments"></i> Comments ({{ .CommentCount }})</button></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
    {{ else }}
        <h1>No posts :/</h1>
    {{ end }}
</div>

{{ template "footer.html" }}