{{ template "header.html" . }}

<div class="container mt-5">
    <h1>{{ .Data.Post.Title }}</h1>
    <p>Category: {{ .Data.Post.Category }}</p>

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h5>{{ .Data.Post.Content }}</h5>

                    {{ .Data.Post.HTMLImage }}

                    <form action="/likepost" method="POST">
                        <input type="text" name="postid" value="{{ .Data.Post.PostID }}" hidden required>
                        <button type="submit" name="submit" value="like" class="btn btn-outline-dark like-active"><i class="far fa-thumbs-up"></i> {{ .Data.Post.Like }}</button>
                        <button type="submit" name="submit" value="dislike" class="btn btn-outline-dark like-active"><i class="far fa-thumbs-down"></i> {{ .Data.Post.Dislike }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{ if ne (.User.UserID) (0) }}
    <div class="row comment-form">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <form action="/comment" method="POST">
                        <div class="form-group">
                            <label for="text">Comment</label>
                            <textarea name="text" class="form-control post-input" rows="4" required></textarea>
                        </div>
                        <input name="postid" value="{{ .Data.Post.PostID }}" hidden required>
                        <button type="submit" class="btn btn-dark">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if .Data.Comments }}
        {{ range .Data.Comments }}
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        
                        <p>{{ .Username }}</p>
                        <p>{{ .TimeCreated }}</p>
                        <p>{{ .Text }}</p>
    
                        <form action="/likecomment" method="POST">
                            <input type="text" name="commentid" value="{{ .CommentID }}" hidden required>
                            <input type="text" name="postid" value="{{ .PostID }}" hidden required>
                            <button type="submit" name="submit" value="like" class="btn btn-outline-dark like-active"><i class="far fa-thumbs-up"></i> {{ .Like }}</button>
                            <button type="submit" name="submit" value="dislike" class="btn btn-outline-dark like-active"><i class="far fa-thumbs-down"></i> {{ .Dislike }}</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    {{ end }}
</div>

{{ template "footer.html" }}