{{ template "header.html" . }}

<div class="container mt-5">
    <h1>{{ .Data.Post.Title }}</h1>
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h5>{{ .Data.Post.Content }}</h5>

                    {{ if .Data.Post.ImageExist }}
                        <img src="/images/{{ .Data.Post.PostID }}" alt="">
                    {{ end }}

                    <form action="/likepost" method="POST">
                        <input type="text" name="postid" value="{{ .Data.Post.PostID }}" hidden required>
                        <input type="text" name="link" value="/posts/id/{{ .Data.Post.PostID }}" hidden required>
                        <button type="submit" name="submit" value="like" class="btn btn-{{ if not .Data.Post.Liked }}outline-{{ end }}dark like"><i class="far fa-thumbs-up"></i> {{ .Data.Post.Like }}</button>
                        <button type="submit" name="submit" value="dislike" class="btn btn-{{ if not .Data.Post.Disliked }}outline-{{ end }}dark like"><i class="far fa-thumbs-down"></i> {{ .Data.Post.Dislike }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p>Author: {{ .Data.Post.Username }}</p>
    <p>Categories: {{ range .Data.Post.Categories }}{{ . }} {{ end }}</p>
    <p>Created: {{ .Data.Post.TimeString }}</p>

    {{ if ne (.User.UserID) (0) }}
    <div class="row comment-form">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <form action="/comment" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="text">Comment</label>
                            <textarea name="text" class="form-control post-input" rows="4" required></textarea>
                        </div>
                        <input name="postid" value="{{ .Data.Post.PostID }}" hidden required>
                        <div class="form-group">
                            <label for="image">Image</label><br>
                            <input type="file" name="image" accept=".jpg,.JPG,.png,.PNG,.gif,.GIF,.svg,.SVG"><br>
                        </div>
                        <button type="submit" class="btn btn-dark">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if .Data.Comments }}
        {{ range .Data.Comments }}
        <div id="{{ .CommentID }}" class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        
                        <h5>{{ .Username }}</h5>
                        <p>{{ .TimeString }}</p>
                        <p>{{ .Text }}</p>

                        {{ if .ImageExist }}
                            <img class="comment-img" src="/images/c{{ .CommentID }}" alt="">
                        {{ end }}
                        
                        <form action="/likecomment" method="POST">
                            <input type="text" name="commentid" value="{{ .CommentID }}" hidden required>
                            <input type="text" name="link" value="/posts/id/{{ .PostID }}#{{ .CommentID }}" hidden required>
                            <button type="submit" name="submit" value="like" class="btn btn-{{ if not .Liked }}outline-{{ end }}dark like"><i class="far fa-thumbs-up"></i> {{ .Like }}</button>
                            <button type="submit" name="submit" value="dislike" class="btn btn-{{ if not .Disliked }}outline-{{ end }}dark like"><i class="far fa-thumbs-down"></i> {{ .Dislike }}</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    {{ end }}
</div>

{{ template "footer.html" }}